<html>
    <head>
        <title>Senha Incorreta</title>
        <script>
            confirm('Senha incorreta. Tente novamente')
            window.location.replace("/room/<%= roomId %>")
        </script>
    </head>
</html>